*{
    margin  : 0;
    padding : 0;
    font-family: Comic Sans MS;
}

/*Header*/

.header{
    width: 100%;
    height : 100px;
    background-color: black;
    padding : 0px 50px; 
    display: flex;
}

#logo{
    padding-top: 25px;
}

.mainmenubtn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 18px;
    margin : 20px;
    font-size: 16px;
    font-weight: bold;
 }
 
 .mainmenubtn:hover {
    background-color:#6b9e65;
}
 
 .dropdown {
    position: relative;
    display: inline-block;
 }

 .dropdown-child {
    display: none;
    background-color: black;
    min-width: 100px;
 }

 .dropdown-child a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
 }

 .dropdown-child a:hover{
    background-color:#6b9e65;
 }

 .dropdown:hover .dropdown-child {
    display: block;
 }

 /*Content Albums*/

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

 .logo img{
    padding-left: 200px;
    padding-right: 200px;
 }

 .product1{
     display: flex;
     align-content: center;
     justify-content: center;
     padding-top: 80px;
 }

 .product1 img{
    padding-left: 190px;
    padding-right: 190px;
 }

 .desc1{
     display:flex;
     padding: 20px;
 }

 .desc1 p{
    text-align: center;
    font-size: 13px;
    padding-left: 100px;
    padding-right: 100px;
 }

.img1{
    display: flex;
    padding: 50px;
    align-content: center;
    justify-content: center;
}

.img1 img{
    padding-left: 80px;
    padding-right: 80px;
}

.img1 figcaption, p{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.img1 p{
    font-weight: bold;
    font-size : 14px;
}

/*Footer*/

 footer{
     background: black;
     height: auto;
     width : 100%;
     padding-top: 10px;
     color: white;
     bottom: 0px;
 }

 footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }

 .socials{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .socials img{
     height: 40px;
     width: 40px;
     padding: 5px;
 }

 .footer-bottom{
     background : #6b9e65;
     width : 100%;
     padding : 8px 0;
     text-align: center;
 }

 .footer-bottom p{
     font-size: 14px;
     font-weight: bold;
     word-spacing: 2px;
     text-transform: capitalize;
 }




